.row {
    display: flex;
    flex-direction: row; /* This sets the direction to row */
}

.space-between {
    justify-content: 'space-between' 
}

.width-100 {
    width: 100%;
    flex: 1;
}

.percentage70{
    width: 70%;
}

.percentage30{
    width: 30%;

}

.value-input{
    flex: 70%;
}

.add-button{
    flex: 30%;
}

.column {
    flex-direction: column; /* This sets the direction to row */
}

.center {
    justify-content: center;
}